<form (submit)="submitReview()">
  <select class="custom-select" 
          name="reviews.ratings" 
          [(ngModel)]="reviews.ratings">
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
    <option value="4">Four</option>
    <option value="5">Five</option>
  </select>
  <textarea class="form-control" 
            name="comment"  
            [(ngModel)]="reviews.comment"
            rows="3" 
            placeholder="Type you comment here">
  </textarea>
  <button type="submit" class="btn btn-outline-secondary">Rate!</button>
</form>
