<div class="h-100">
  <div class="row jumbotron p-2 mb-2 shadow-sm" *ngFor="let cake of cakes; index as i">
    <button class="col-sm-6 btn"><img class="w-100" src="{{ cakes[i].img_url }}" alt="{{ cakes[i].img_url }}" (click)=viewCake(cakes[i])></button>
    <div class="col-sm-6 mt-5">
        <a class="d-inline fas fa-star text-warning"></a>
        <a class="d-inline fas fa-star text-warning"></a>
        <a class="d-inline fas fa-star text-warning"></a>
        <a class="d-inline fas fa-star text-warning"></a>
        <a class="d-inline fas fa-star text-warning"></a>
        
      <review [cakeToReview]="cakes[i]" (cakeEvent)="reviewEvent($event)"></review>
      
    </div>
  </div> <!--End of cake list-->
</div>


